<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>plupload</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app/base.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/plugins/plupload-2.3.3/jquery.plupload.queue.css" />
</head>
<body>
    <div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">
            <div id="uploader">
              <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
            </div>
            <button id="toStop">暂停一下</button>
            <button id="toStart">再次开始</button>
        </div>
        <div class="col-xs-3"></div>
    </div>
<!-- <script type="text/javascript" src="/assets/js/plugins/require.js"></script> -->
<script type="text/javascript" src="/assets/js/plugins/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/plupload-2.3.3/plupload.full.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/plupload-2.3.3/jquery.plupload.queue/jquery.plupload.queue.js"></script>
<script type="text/javascript" src="/assets/js/plugins/plupload-2.3.3/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/assets/js/app/fileload/plupload.js"></script>
<!-- <script type="text/javascript">
    require(['/assets/js/common.js'],function(){
        require(['app/fileload/plupload']);
    })
</script> -->
</body>
</html>